.navbar {
  background-color: #ededed;
  display: flex;
  justify-content: space-between;
}
.navbar__avatar {
  padding: 10px;
}
.navbar__title {
  color: #777777;
  margin: 10px;
}

.navbar__profile {
  margin: 10px;
  padding-top: 5px;
}
